/* 3. Estilizando os Links */
/* --- Estilo dos Links --- */
.link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600 !important;
    color: #e0e0e0 !important;
    margin-left: 30px;
    font-size: 1rem;
    text-shadow: 0 1px 2px rgba(0,0,0,0.8) !important;
    transition: all 0.3s ease;
}

.link:hover {
    color: #ff0000 !important; 
    font-weight: 800 !important;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.6); 

}

